In [1]:
import pandas as pd

In [5]:
info = {
    "name" : ["rahul", "harshita", "shradha"],
    "cgpa" : [9.5, 7.5, 8.5]
}
df = pd.DataFrame(info)
print(df)

       name  cgpa
0     rahul   9.5
1  harshita   7.5
2   shradha   8.5

In [11]:
#series in pandas
s = pd.Series([1,2,3,4,5])
print(s)
print(type(s))

#index
print(s[0])
print(s[1])

0    1
1    2
2    3
3    4
4    5
dtype: int64
<class 'pandas.core.series.Series'>
1
2

In [13]:
s = pd.Series([22,34,56,67], index = ["adam", "eve", "nia", "carl"])
print(s)

adam    22
eve     34
nia     56
carl    67
dtype: int64

In [17]:
print(s[0])
print(s["carl"])
print(s.index)

22
67
Index(['adam', 'eve', 'nia', 'carl'], dtype='object')

C:\Users\Asus\AppData\Local\Temp\ipykernel_25024\2944318403.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(s[0])

In [19]:
#dataframes in pandas
info = {
    "name" : ["adam", "nia", "carl"],
    "age" : [23, 45, 67],
    "gpa" : [9.5, 7.8, 8.2]
}
df = pd.DataFrame(info)
print(df, type(df))
print(df.index)
print(df.columns)

   name  age  gpa
0  adam   23  9.5
1   nia   45  7.8
2  carl   67  8.2 <class 'pandas.core.frame.DataFrame'>
RangeIndex(start=0, stop=3, step=1)
Index(['name', 'age', 'gpa'], dtype='object')

In [20]:
df = pd.DataFrame([["adam", 23], ["bob", 23], ["eve", 23]], columns = ["name", "age"])
print(df)

   name  age
0  adam   23
1   bob   23
2   eve   23

In [21]:
import numpy as np
np_arr  = np.array([[1,3,4], [4,5,6]])
df = pd.DataFrame(np_arr, columns= ["a","b","c"])
print(df)

   a  b  c
0  1  3  4
1  4  5  6

In [3]:
#csv data
import pandas as pd
df = pd.read_csv("Downloads/employee_data.csv")
print(df, type(df))

   ID     Name  Age Department  Salary
0   1    Alice   25         HR   55000
1   2      Bob   32         IT   72000
2   3  Charlie   28    Finance   48000
3   4    David   45  Marketing   91000
4   5      Eva   38         IT   65000
5   6    Frank   29    Finance   50000
6   7    Grace   41         HR   82000
7   8   Hannah   26  Marketing   47000
8   9      Ian   35         IT   75000
9  10    Julia   30    Finance   60000 <class 'pandas.core.frame.DataFrame'>

In [5]:
#json data
df = pd.read_json("employee_data.json")
print(df, type(df))

   ID     Name  Age Department  Salary
0   1    Alice   25         HR   55000
1   2      Bob   32         IT   72000
2   3  Charlie   28    Finance   48000
3   4    David   45  Marketing   91000
4   5      Eva   38         IT   65000
5   6    Frank   29    Finance   50000
6   7    Grace   41         HR   82000
7   8   Hannah   26  Marketing   47000
8   9      Ian   35         IT   75000
9  10    Julia   30    Finance   60000 <class 'pandas.core.frame.DataFrame'>